# ==========================================
# Crie uma cópia deste arquivo e renomeie para .env.
# Para testar todas as funcionalidades (como tradução e login), 
# você precisará gerar e preencher as chaves de AUTH e DEEPL abaixo.
# ==========================================

# DB
DATABASE_URL_PRODUCTION="postgresql://postgres:postgres@postgres:5432/postgres?schema=public"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?schema=public"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="postgres"

# AUTH
# Gere uma string aleatória segura para usar aqui (ex: openssl rand -base64 32)
AUTH_SECRET="secret"

# DEEPL
# Insira sua chave da API do DeepL para habilitar os recursos de tradução
DEEPL_API_KEY="secret"

# NODE
NODE_ENV="development"